/*
----------------------------
                    RESET
----------------------------
*/

* {
    margin: 0;
    box-sizing: border-box;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    &:not(ul){
        padding: 0;
    }
};